@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
/*imagen genérico*/
img {
  object-fit: cover;
  width: 100%;
  height: 50dvh;
  border-radius: 5px;
}

/*NAV*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #c1c1c1;
  position: sticky;
  box-shadow: inset 2px 2px 5px #333;
  top: 0;
  z-index: 2;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

nav a:hover{
  color: #fff;
  background-color: #b1b1b1;
  padding: .2rem .5rem;
  border: none;
  border-radius: 3px;


}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
}

/*HEADER*/
header {
  background: url("../imgs/img-main.jpeg");
  height: 25dvh;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.hero{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:-100%;
    background-color: #111;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .95;
    transition: all .9s ease-in-out;
}


.cover{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cover-text{
    color: white;
    font-size: 2rem;
    margin-top: 5rem;


}

.cover-img{
object-fit: contain;
transform: scale(1.4);
padding: 1rem;
}

/*CONTENEDOR INDEX*/
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

#vitrina-venta,
#vitrina-alquiler,
#alquiler-total,
#venta-total {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr);
  margin-top: 2rem;
  padding: 0 1rem;

  gap: 1rem;
}

/* CARD*/
.card {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  padding: 0.1rem;
  margin: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: inset 1px 1px 9px #ddd;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  opacity: 0.5;
}

.card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
}

.card-body {
  width: 90%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
}

/* CARD ICONS*/
.allowed,
.not-allowed,
.divisa {
  font-weight: 700;
}
.allowed {
  color: green;
}

.not-allowed {
  color: red;
}

.divisa {
  font-size: 0.7rem;
  letter-spacing: 2px;
}

.boton {
  margin: 1rem 0;
  background-color: #000;
  color: #eee;
  text-decoration: none;
  padding: .5rem 1rem;
  font-weight: 500;
  border-radius: 5px;
    box-shadow: inset 1px 1px 5px #ddd;
    font-size: .8rem;
    font-weight: 700;
      transition: all 0.3s ease-in-out;
}

.boton:hover{
    opacity: .6;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding:1rem;
  margin-bottom: 2rem;
}

/* GRADIENTE*/
.fade-footer {
  position: sticky;
  bottom: 0;
  /* background-color: white; */
  background: linear-gradient(360deg, white 30%, transparent 100%);
  opacity: 0.9;
  height: 6dvh;
  color: #333;
}

/*animación*/
.animated {
  animation: tilt 3s infinite;
  animation-direction: alternate;
}

@keyframes tilt {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*MEDIA QUERIES*/
@media (min-width: 576px) {
  #vitrina-venta,
  #vitrina-alquiler,
  #alquiler-total,
  #venta-total {
    grid-template-columns: repeat(2, 1fr);
  }

  header{
    font-size: 1.4rem;
  }

  .boton {
    align-self: flex-start;
    margin: 1rem;
  }

img {

  height: 40dvh;

}

  .card-body {
  height: 37vh;
}
}

@media (min-width: 767px) {
  #vitrina-venta,
  #vitrina-alquiler,
  #alquiler-total,
  #venta-total {
    grid-template-columns: repeat(3, 1fr);
     margin-top: .1rem;
  }

  img {

  height: 40dvh;

}

  .card-body {
  height: 35vh;
}


}

@media (min-width: 992px) {
  #vitrina-venta,
  #vitrina-alquiler,
  #alquiler-total,
  #venta-total {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    column-gap: 3rem;
  }
  .boton {
    margin: 0 3rem;
  }

    .card-body {
  height: 30vh;
}
}
